<%- include('include/_header.ejs') %>
<%- include('include/_navbar.ejs') %>

   
    <main id="site-main">
        <div class="container">
          <h3 class="cim mt-4">Alkalmazotti adminisztráció</h3>     
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-2">Név</th>
                            <th class="col-2">Felhasználónév</th>
                            <th class="col-2">Email</th>
                            <th class="col-2">Jogosultság</th>
                            <th class="col-2">Műveletek</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- include('include/_show') %>
                    </tbody>
                </table>
        </div>
    </main>
    
    <%- include('include/_footer.ejs') %>
