<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <title>KUNPAO's COFFEE</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="content">
        <h1 class="login">KUNPAO's COFFEE MANAGEMENT SYSTEM</h1>
        <img src="/img/cafe_avatar.png" alt="" />
        <form action="/users/login" method="POST" class="form">
          <label for="username"
            ><span id="loginspan">Felhasználónév</span></label
          >
          <input
            type="text"
            placeholder="Add meg a felhasználónevet"
            name="username"
            id="username"
            required
          />
          <label for="password"><span id="loginspan">Jelszó</span></label>
          <input
            type="password"
            placeholder="Add meg a jelszót"
            name="password"
            id="password"
            required
          />
          <button id="button" type="submit">Belépés</button>
        </form>
      </div>
    </div>
    <script src="/assets/js/index.js"></script>
  </body>
</html>
