<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <title>KUNPAO's COFFEE MANAGEMENT SYSTEM</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <div class="wrapper">
      <%- include('include/header_admin.ejs') %>
      <div class="content_data">
        <h2>Megrendelés összesítő</h2>
        <div class="table-container">
          <table>
            <thead>
              <tr>
                <th>Megrendelés azonosító</th>
                <th>Végösszeg (Ft)</th>
                <th>Rendelés ideje</th>
                <th>Művelet</th>
              </tr>
            </thead>
            <tbody id="orderstabla"></tbody>
          </table>
        </div>
      </div>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
      crossorigin="anonymous"
    ></script>
    <script src="/js/orders.js"></script>
  </body>
</html>
