<%- include('include/_header.ejs') %>
<%- include('include/_navbar.ejs') %>

 <main role="main">
  <div class="container">
   
      <h2 id="italok" class="text-dark">Italok</h2>
     
      <div class="col-lg-12">
   
        <div id="italDIVadmin" class="row">
		
           
        </div>

    </div>

  <hr>
    <h2 id="kavek" class="text-dark">Kávék</h2>
     
    <div class="col-lg-12">
 
      <div id="kaveDIVadmin" class="row">
  
         
      </div>

  </div>

  <hr>
  <h2 id="sutik" class="text-dark">Sütemények</h2>
   
  <div class="col-lg-12">

    <div id="sutiDIVadmin" class="row">

       
    </div>

</div>

</div>

  </main>

<script src="/js/products.js"></script>
<%- include('include/_footer.ejs') %>
