<%- include('include/_header.ejs') %>

  <%- include('include/_navbartable_1.ejs') %>

  <div class="container">
 
<h3 class="cim mt-4 text-lg font-bold">1. asztal rendelésének leadása</h3>

 <main role="main">
  <div class="container" >
   
    <h2 id="italok" class="text-dark">Italok</h2>
    <div class="col-lg-12">   
      <div id="italDIV" class="row">	
           
      </div>
    </div>

<hr>

    <h2 id="kavek" class="text-dark">Kávék</h2>     
    <div class="col-lg-12"> 
      <div id="kaveDIV" class="row">  
         
      </div>
    </div>

  <hr>

  <h2 id="sutik" class="text-dark">Sütemények</h2>   
  <div class="col-lg-12">
    <div id="sutiDIV" class="row">
       
    </div>
  </div>

</div>

</main>
  
<script src="/js/table_1.js"></script>
<%- include('include/_footer.ejs') %>
