<div class="welcome"> 
    <h1>KUNPAO's CAFE MANAGEMENT SYSTEM</h1>

    <img src="/img/cafe.png" alt="cafe.jpg">
     <div class="namebox">
        <p class="mt-5 mb-3">Készítette: Kun-Fagyal Zoltán</p>                    
        <p class="mt-2 mb-3">
          mérnökinformatikus hallgató, levelező tagozat
        </p>
        <p class="mt-2 mb-3">&copy; 2021–2022</p>
    </div>
</div>