<header class="header">
  <div class="header-main">
    <div class="logo">
      <a>KUNPAO's COFFEE MANAGEMENT SYSTEM</a>
    </div>
    <div class="open-nav-menu">
      <span></span>
    </div>
    <div class="menu-overlay"></div>
    <nav class="nav-menu">
      <div class="close-nav-menu">
        <img src="img/close.svg" alt="close" />
      </div>
      <ul class="menu">
        <li class="menu-item menu-item-has-children">
          <a href="#" data-toggle="sub-menu"
            >Adminisztráció<i class="plus"></i
          ></a>
          <ul class="sub-menu">
            <li class="menu-item">
              <a href="add-user">Új alkalmazott felvétele</a>
            </li>
            <li class="menu-item">
              <a href="admin">Alkalmazottak lekérdezése</a>
            </li>
          </ul>
        </li>

        <li class="menu-item menu-item-has-children">
          <a href="#" data-toggle="sub-menu">Termékek<i class="plus"></i></a>
          <ul class="sub-menu">
            <li class="menu-item">
              <a href="add-ital">Új ital felvétele</a>
            </li>
            <li class="menu-item">
              <a href="add-kave">Új kávé felvétele</a>
            </li>
            <li class="menu-item">
              <a href="add-suti">Új süti felvétele</a>
            </li>
            <li class="menu-item">
              <a href="products">Termékek lekérdezése</a>
            </li>
          </ul>
        </li>

        <li class="menu-item">
          <a href="orders">Rendelés összesítő</a>
        </li>

        <li class="menu-item">
          <a href="/users/login">Kijelentkezés</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
