@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");

:root {
  --lightdark: #8e8c84;
  --dark: #3e3f3a;
  --white: #fff;
  --smoke_white: #ddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.wrapper {
  /*
        - az oldal alapszélességét állítom be*/
  max-width: 1440px;
  margin: 60px auto;
  width: 90%;
}

.content {
  /* 
    - .content lesz a flex container,ebben lesznek a flex item-ek.
    - .content közvetlen gyermekei lesznek automatikusan a flex item-ek (nav,main,aside)*/
  display: flex;

  /*
    flex-direction: row; a forráskódban lévő sorrendben helyezkednek el a flex-itemek 
                            egymás mellett egy sorban
    flex-wrap: nowrap; a flex item-ek nem törnek meg, a wrap-el megtöri, 
                        ha az item már nem fér ki a sorba 
    */

  flex-flow: column nowrap; /*ez a flex-direction és a flex-wrap shorthand megadása*/

  justify-content: center; /* ez adja meg, hogy a flex container hogyan ossza el a flex item-eket
                                a konténeren belül*/

  align-items: center; /* 
                        - a flex-item-ek függőleges igazítását adja meg.
                        - stretch esetében a flex container magasságához fog igazodni az összes
                        flex item*/

  /* align-content  ha több sorba törik a tartalom a flex container-en belül, akkor ezeket
                        a sorokat, hogyan ossza el a konténeren belül*/

  gap: 50px;
}

h1 {
  text-align: center;
  color: var(--dark);
  font-weight: 600;
}

h2 {
  color: var(--dark);
  font-weight: 500;
}

img {
  max-width: 100%;
}

.footer {
  text-align: center;
  margin-top: 10px;
}

.footer p {
  margin: 10px;
}

/*----------------login part----------------*/
.form {
  width: 40%;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

#loginspan {
  font-weight: bold;
}

label {
  margin-top: 30px;
  margin-bottom: 5px;
  position: relative;
}
input {
  width: 100%;

  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid var(--smoke_white);
}

input:focus {
  background: transparent;
  border: none;
  outline-width: 0;
}

/*  span{
    position:absolute;
    top:0;
    left:0;
    color:var(--dark);
    font-size:0.925em;
    font-weight: bold;
   transform:translateY(30px);
    transition-duration:300ms;
}  */
button {
  padding: 15px 0px;
  margin-top: 20px;
  background: var(--dark);
  color: var(--white);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
  font-weight: bold;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 9999s;
  transition-delay: 9999s;
}

/*----------------chief,tables part----------------*/

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.header {
  position: absolute;
  width: 95%;
  left: 0;
  top: 0;
  z-index: 99;
  padding: 15px auto;
}
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-radius: 4px;
}
.header .logo {
  padding: 0 15px;
}
.header .logo a {
  font-size: 25px;
  text-transform: capitalize;
  color: var(--dark);
  font-weight: 600;
}
.header .nav-menu {
  padding: 0 15px;
}
.header .menu > .menu-item {
  display: inline-block;
  margin-left: 30px;
  position: relative;
}
.header .menu > .menu-item > a {
  display: block;
  padding: 12px 0;
  font-size: 16px;
  color: var(--dark);
  text-transform: capitalize;
  font-weight: 600;
  transition: all 0.3s ease;
}
.header .menu > .menu-item > a .plus {
  display: inline-block;
  height: 12px;
  width: 12px;
  position: relative;
  margin-left: 5px;
  pointer-events: none;
}
.header .menu > .menu-item > a .plus:before,
.header .menu > .menu-item > a .plus:after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  background-color: var(--dark);
  height: 2px;
  width: 100%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
.header .menu > .menu-item:hover > a .plus:before,
.header .menu > .menu-item:hover > a .plus:after {
  background-color: var(--lightdark);
}
.header .menu > .menu-item > a .plus:after {
  transform: translate(-50%, -50%) rotate(-90deg);
}
.header .menu > .menu-item > .sub-menu > .menu-item > a:hover,
.header .menu > .menu-item:hover > a {
  color: var(--lightdark);
}
.header .menu > .menu-item > .sub-menu {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 220px;
  position: absolute;
  left: 0;
  top: 100%;
  padding: 10px 0;
  border-top: 3px solid var(--dark);
  transform: translateY(10px);
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.header .menu > .menu-item > .sub-menu > .menu-item {
  display: block;
}
.header .menu > .menu-item > .sub-menu > .menu-item > a {
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  color: var(--dark);
  transition: all 0.3s ease;
  text-transform: capitalize;
}
.header .open-nav-menu {
  height: 34px;
  width: 40px;
  margin-right: 15px;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header .open-nav-menu span {
  display: block;
  height: 3px;
  width: 24px;
  background-color: var(--dark);
  position: relative;
}
.header .open-nav-menu span:before,
.header .open-nav-menu span:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark);
  box-sizing: border-box;
}
.header .open-nav-menu span:before {
  top: -7px;
}
.header .open-nav-menu span:after {
  top: 7px;
}
.header .close-nav-menu {
  height: 40px;
  width: 40px;
  background-color: var(--dark);
  margin: 0 0 15px 15px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
}
.header .close-nav-menu img {
  width: 16px;
}
.header .menu-overlay {
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

.header .menu > .menu-item-has-children:hover > .sub-menu {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.header .menu > .menu-item-has-children:hover > a .plus:after {
  transform: translate(-50%, -50%) rotate(0deg);
}

/*----------------admin part----------------*/
.table-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
}

table {
  width: 100%;
  box-shadow: 10px var(--lightdark);
  border-collapse: collapse;
}

th {
  background-color: var(--dark);
  color: #fff;
  font-weight: 800;
  font-size: 16px;
}

td,
th {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: center;
}

.admin_btn {
  color: #fff;
  background-color: var(--lightdark);
  font-size: 13px;
  padding: 5px 8px;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  text-decoration: none;
}
.admin_btn:hover {
  background-color: var(--dark);
}

.content_data {
  margin-top: 140px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

/* products page */

.card_container {
  display: flex;

  flex-flow: row wrap;

  justify-content: center;

  align-items: center;
}

.carddetails {
  margin: 20px;
  border: 1px solid var(--lightdark);
  width: 270px;
  height: 350px;
  text-align: center;
}

.products_carddetails {
  margin: 20px;
  border: 1px solid var(--lightdark);
  width: 270px;
  height: 350px;
  text-align: center;
}
.products_carddetails .card-title {
  font-weight: bold;
  padding: 10px 0;
  background-color: var(--dark);
  color: var(--smoke_white);
  margin-bottom: 30px;
}

.products_carddetails p {
  padding: 10px 0;
}

.card_button {
  padding-left: 35px;
  padding-right: 35px;
  margin-top: 80px;
}

.card_button button {
  background-color: var(--lightdark);
  color: var(--smoke_white);
  font-size: 15px;
}

.carddetails .card-title {
  font-weight: bold;
  padding: 10px 0;
  background-color: var(--dark);
  color: var(--smoke_white);
}

.carddetails p {
  margin: 15px 0;
}

@media only screen and (max-width: 1023px) {
  .table-container {
    width: 100%;
    margin: 0 auto;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    text-align: right;
  }

  td::before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
  }

  td:nth-of-type(1)::before {
    content: "Név";
  }

  td:nth-of-type(2)::before {
    content: "Felhasználónév";
  }

  td:nth-of-type(3)::before {
    content: "Email";
  }

  td:nth-of-type(4)::before {
    content: "Jogosultság";
  }

  td:nth-of-type(5)::before {
    content: "Módosít";
  }

  td:nth-of-type(6)::before {
    content: "Eltávolít";
  }

  #maz::before {
    content: "Megrendelés azonosító";
  }

  #vog::before {
    content: "Végösszeg";
  }

  #ren::before {
    content: "Rendelés ideje";
  }

  #muv::before {
    content: "Műveletek";
  }

  #sorsz::before {
    content: "Sorszám";
  }

  #term::before {
    content: "Terméknév";
  }

  #menny::before {
    content: "Mennyiség";
  }

  #ear::before {
    content: "Ár";
  }
}

/*tablet screen*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  form {
    width: 80%;
  }

  .wrapper {
    margin: 100px auto;
    width: 90%;
  }
  .header .logo a {
    font-size: 25px;
  }

  .footer p {
    font-size: 15px;
  }

  .content {
    gap: 10px;
  }

  .header .menu-overlay.active {
    visibility: visible;
    opacity: 1;
  }
  .header .nav-menu {
    position: fixed;
    right: -280px;
    visibility: hidden;
    width: 280px;
    height: 100%;
    top: 0;
    overflow-y: auto;
    background-color: #222222;
    z-index: 1000;
    padding: 15px 0;
    transition: all 0.5s ease;
  }
  .header .nav-menu.open {
    visibility: visible;
    right: 0px;
  }
  .header .menu > .menu-item {
    display: block;
    margin: 0;
  }
  .header .menu > .menu-item-has-children > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .menu > .menu-item > a {
    color: #ffffff;
    padding: 12px 15px;
    border-bottom: 1px solid #333333;
  }
  .header .menu > .menu-item:first-child > a {
    border-top: 1px solid #333333;
  }
  .header .menu > .menu-item > a .plus:before,
  .header .menu > .menu-item > a .plus:after {
    background-color: #ffffff;
  }
  .header .menu > .menu-item-has-children.active > a .plus:after {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  .header .menu > .menu-item > .sub-menu {
    width: 100%;
    position: relative;
    opacity: 1;
    visibility: visible;
    border: none;
    background-color: transparent;
    box-shadow: none;
    transform: translateY(0px);
    padding: 0px;
    left: auto;
    top: auto;
    max-height: 0;
    overflow: hidden;
  }
  .header .menu > .menu-item > .sub-menu > .menu-item > a {
    padding: 12px 45px;
    color: #ffffff;
    border-bottom: 1px solid #333333;
  }
  .header .close-nav-menu,
  .header .open-nav-menu {
    display: flex;
  }
}

/*mobile screen*/
@media screen and (max-width: 767px) {
  form {
    width: 90%;
  }

  .wrapper {
    margin: 52px auto;
    width: 90%;
  }

  .header .logo a {
    font-size: 25px;
  }

  .footer p {
    font-size: 15px;
  }

  .content {
    gap: 20px;
  }

  #small_content {
    margin-top: 120px;
  }

  .footer {
    margin-top: 80px;
  }

  .header {
    margin-top: 30px;
  }

  .header .menu-overlay.active {
    visibility: visible;
    opacity: 1;
  }
  .header .nav-menu {
    position: fixed;
    right: -280px;
    visibility: hidden;
    width: 280px;
    height: 100%;
    top: 0;
    overflow-y: auto;
    background-color: #222222;
    z-index: 1000;
    padding: 15px 0;
    transition: all 0.5s ease;
  }
  .header .nav-menu.open {
    visibility: visible;
    right: 0px;
  }
  .header .menu > .menu-item {
    display: block;
    margin: 0;
  }
  .header .menu > .menu-item-has-children > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .menu > .menu-item > a {
    color: #ffffff;
    padding: 12px 15px;
    border-bottom: 1px solid #333333;
  }
  .header .menu > .menu-item:first-child > a {
    border-top: 1px solid #333333;
  }
  .header .menu > .menu-item > a .plus:before,
  .header .menu > .menu-item > a .plus:after {
    background-color: #ffffff;
  }
  .header .menu > .menu-item-has-children.active > a .plus:after {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  .header .menu > .menu-item > .sub-menu {
    width: 100%;
    position: relative;
    opacity: 1;
    visibility: visible;
    border: none;
    background-color: transparent;
    box-shadow: none;
    transform: translateY(0px);
    padding: 0px;
    left: auto;
    top: auto;
    max-height: 0;
    overflow: hidden;
  }
  .header .menu > .menu-item > .sub-menu > .menu-item > a {
    padding: 12px 45px;
    color: #ffffff;
    border-bottom: 1px solid #333333;
  }
  .header .close-nav-menu,
  .header .open-nav-menu {
    display: flex;
  }
}
